@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h5>@ViewData["Title"]</h5>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div>
                <label asp-for="Input.OldPassword" class="form-label"></label>
                <div class="input-group">
                    <div class="input-group-text" onclick="toggleOldPassword()">
                        <i id="toggle-icon-old" class="fas fa-eye"></i>
                    </div>
                    <input id="oldPassword" asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Mật khẩu hiện tại" />
                </div>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <br/>
            <div>
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <div class="input-group">
                    <div class="input-group-text" onclick="toggleNewPassword()">
                        <i id="toggle-icon-new" class="fas fa-eye"></i>
                    </div>
                    <input id="newPassword" asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Mật khẩu mới" />
                </div>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <br />
            <div>
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <div class="input-group">
                    <div class="input-group-text" onclick="toggleConfirmPassword()">
                        <i id="toggle-icon-confirm" class="fas fa-eye"></i>
                    </div>
                    <input id="confirmPassword" asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Gõ lại mật khẩu mới" />
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="w-100 btn btn-lg btn-primary">Đổi mật khẩu</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script>
    function toggleOldPassword() {
        var toggleIcon = document.getElementById("toggle-icon-old");
        var passwordInput = document.getElementById("oldPassword");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleIcon.classList.remove("fa-eye");
            toggleIcon.classList.add("fa-eye-slash");
        } else {
            passwordInput.type = "password";
            toggleIcon.classList.remove("fa-eye-slash");
            toggleIcon.classList.add("fa-eye");
        }
    }
    function toggleNewPassword() {
        var toggleIcon = document.getElementById("toggle-icon-new");
        var passwordInput = document.getElementById("newPassword");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleIcon.classList.remove("fa-eye");
            toggleIcon.classList.add("fa-eye-slash");
        } else {
            passwordInput.type = "password";
            toggleIcon.classList.remove("fa-eye-slash");
            toggleIcon.classList.add("fa-eye");
        }
    }
    function toggleConfirmPassword() {
        var toggleIcon = document.getElementById("toggle-icon-confirm");
        var passwordInput = document.getElementById("confirmPassword");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleIcon.classList.remove("fa-eye");
            toggleIcon.classList.add("fa-eye-slash");
        } else {
            passwordInput.type = "password";
            toggleIcon.classList.remove("fa-eye-slash");
            toggleIcon.classList.add("fa-eye");
        }
    }
</script>