@page
@model IC.WebJob.Pages.Identity.SysLogFiles.DetailModel
<div class="card">
    <div class="card-header">
        <h3 class="card-title">File: @Model.FileName</h3>
        <div class="card-tools">
            <a asp-page="Index"><div class="btn btn-sm btn-default"><i class="fa fa-arrow-left"></i> Quay lại</div></a>
        </div>
    </div>
    <div class="card-body table-responsive" style="overflow: auto; height:480px">
        <p>
            @Html.Raw(Model.FileContent.Replace("\n", "<br/>"))
        </p>
    </div>
</div>