@using Web.Domain.Entities.Identity;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<nav class="navbar navbar-light navbar-glass navbar-top navbar-expand">
	<button class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
	<a href="/" class="navbar-brand me-1 me-sm-3" title="home">
		<div class="d-flex align-items-center">
			<img class="me-2" src="/Images/logo.svg" alt="ICAds" width="120" />
		</div>
	</a>
	<ul class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center">
		<li class="nav-item px-2">
			<div class="theme-control-toggle fa-icon-wait"><input class="form-check-input ms-0 theme-control-toggle-input" id="themeControlToggle" type="checkbox" data-theme-control="theme" value="dark" /><label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch to light theme"><span class="fas fa-sun fs-0"></span></label><label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch to dark theme"><span class="fas fa-moon fs-0"></span></label></div>
		</li>
		@if (SignInManager.IsSignedIn(User))
		{
			<li class="nav-item dropdown">
				<a class="nav-link pe-0 ps-2" title="@User.GetDisplayName()" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<div class="avatar avatar-xl">
						<img class="rounded-circle" src="@User.GetAvatarPath()" alt="@User.GetDisplayName()" />
					</div>
				</a>
				<div class="dropdown-menu dropdown-caret dropdown-caret dropdown-menu-end py-0" aria-labelledby="navbarDropdownUser">
					<div class="bg-white dark__bg-1000 rounded-2 py-2">
						<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Manager Account</a>
						<form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
							<button type="submit" class="dropdown-item" title="Đăng xuất khỏi hệ thống">Đăng xuất</button>
						</form>
					</div>
				</div>
			</li>
		}
	</ul>
</nav>