@page
@model WebJob.Pages.HRM.Attendances.EditModel
@{
    Layout = null;
}
<form method="post"
      data-ajax="true"
      data-ajax-url="@Url.Page(pageName: "Edit")"
      data-ajax-method="post"
      data-ajax-begin="onBegin(this)"
      data-ajax-success="onSuccessed(this, xhr, false, true)">
    <div class="modal-header">
        <h5 class="modal-title">Cập nhật phòng ban</h5>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Đóng"></button>
    </div>
    <div class="modal-body mt-0">
        <div class="row gx-2">
            <input type="hidden" asp-for="Command.AttendanceId" />
              <input type="hidden" asp-for="Command.SiteId" />
           @*  <div class="col-12 mb-3 did-floating-label-content view-maxlength">
                <input asp-for="Command.AttendanceName" asp-placeholder-for="Command.AttendanceName" class="form-control did-floating-input" maxlength="200" />
                <label-required asp-for="Command.AttendanceName" class="did-floating-label"></label-required>
                <span asp-validation-for="Command.AttendanceName" class="text-danger"></span>
            </div>
            <div class="col-12 mb-3 did-floating-label-content view-maxlength">
                <input asp-for="Command.AttendanceDesc" asp-placeholder-for="Command.AttendanceDesc" class="form-control did-floating-input" maxlength="200" />
                <label asp-for="Command.AttendanceDesc" class="did-floating-label"></label>
                <span asp-validation-for="Command.AttendanceDesc" class="text-danger"></span>
            </div> *@
          

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Đóng</button>
        <button class="btn btn-primary" type="submit">Lưu</button>
    </div>
</form>

