@page
@model WebJob.Pages.Identity.SysUsers.ResetPasswordModel
@{
    Layout = null;
}
<form method="post"
      data-ajax="true"
      data-ajax-url="@Url.Page(pageName: "ResetPassword")"
      data-ajax-method="post"
      data-ajax-begin="onBegin(this)"
      data-ajax-success="onSuccessed(this, xhr)">
    <div class="modal-header">
        <h5 class="modal-title">Đặt lại mật khẩu tài khoản @Model.UserGetByIdDto.UserName</h5>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Đóng"></button>
    </div>
    <div class="modal-body modal-dialog-scrollable mt-0">
        <div class="col-sm-12 mb-3 did-floating-label-content">
            <input asp-for="Command.Password" asp-placeholder-for="Command.Password" class="form-control did-floating-input" />
            <label-required asp-for="Command.Password" class="did-floating-label"></label-required>
            <span asp-validation-for="Command.Password" class="text-danger"></span>
        </div>
        <div class="col-sm-12 mb-3 did-floating-label-content">
            <input asp-for="Command.ConfirmPassword" asp-placeholder-for="Command.ConfirmPassword" class="form-control did-floating-input" />
            <label-required asp-for="Command.ConfirmPassword" class="did-floating-label"></label-required>
            <span asp-validation-for="Command.ConfirmPassword" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="Command.Id" />
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Đóng</button>
        <button class="btn btn-primary" type="submit">Lưu</button>
    </div>
</form>