<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - WebJob</title>
    <script src="~/js/config.js" asp-append-version="true"></script>
    <script src="~/vendors/simplebar/simplebar.min.js" asp-append-version="true"></script>
    <link href="~/vendors/simplebar/simplebar.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="~/css/theme.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/user.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/app.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <main class="main" id="top">
        <div class="container-fluid" data-layout="container">
            @RenderBody()
        </div>
    </main>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
        <div class="toast fade" id="toastMsg" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-primary text-white">
                <strong class="me-auto">Thông báo</strong>
                <small class="text-white">
                    tự đóng sau 5 giây
                </small>
                <button class="btn-close btn-close-white" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body"></div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/vendors/bootstrap/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>