@page
@model WebJob.Pages.Finance.Medias.IndexModel
@{
}
@await Component.InvokeAsync("FunctionFavorite")
<div class="card mt-2">
    <div class="card-header pt-1 car-header-padding">
        <form method="get" class="justify-content-between search-form">
            <div class="row gx-2 align-items-center ">
              @*   <div class="col-12 col-md-6 col-lg-4 col-xl-2 did-floating-label-content">
                    <select asp-for="Query.SiteId" asp-items="@(new SelectList(Model.SiteList, "SiteId", "SiteName"))"
                            class="form-select form-select-submit did-floating-select" style="margin-bottom:15px"
                            onclick="this.setAttribute('value', this.value); return false;"
                            onchange="this.setAttribute('value', this.value); return false;">
                    </select>
                    <label asp-for="Query.SiteId" class="did-floating-label"></label>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-2 did-floating-label-content">
                    <select asp-for="Query.SendMethodId" asp-items="@(new SelectList(Model.SendMethodList, "SendMethodId", "SendMethodName"))"
                            class="form-select form-select-submit did-floating-select" style="margin-bottom:15px"
                            onclick="this.setAttribute('value', this.value); return false;"
                            onchange="this.setAttribute('value', this.value); return false;">
                    </select>
                    <label asp-for="Query.SendMethodId" class="did-floating-label"></label>
                </div> *@
                <div class="col-12 mb-3 col-md-6 col-lg-4 col-xl-3 did-floating-label-content">
                    <smart-select-filter asp-for="Query.Status"
                                         enum-type="typeof(Web.Domain.Enums.StatusEnum)"
                                         search-mode="none">
                    </smart-select-filter>
                </div>
                <div class="col-12 mb-3 col-md-6 col-lg-4 col-xl-3 did-floating-label-content ">
                    <input class="form-control did-floating-input" asp-for="Query.Keywords" asp-placeholder-for="Query.Keywords" type="search" />
                    <label asp-for="Query.Keywords" class="did-floating-label"></label>
                </div>

                <div class="col-12 mb-3 col-md-6 col-lg-4 col-xl-3 did-floating-label-content">
                    <button class="btn btn-secondary me-1" type="submit">Tìm kiếm</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body p-0">
        @Html.AntiForgeryToken()
        <div class="table-responsive scrollbar">
            @await Html.PartialAsync("BindData", Tuple.Create(Model.PaginatedResult, Model.PagingInput, Model.Query.SiteId))
        </div>
    </div>
</div>